/* CSS HEX */
:root {
  --emerald: #58bc82ff;
  --amber: #ffbf00ff;
  --davys-gray: #4d4847ff;
  --seasalt: #f7f7f7ff;
  --blue-violet: #9046cfff;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
 text-align: center;
}

body {
  font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--davys-gray);
  font-weight: 300;
  background-image: url('Sunflower.png');
  background-repeat: repeat;
  background-size: 200px 200px; /* Adjusted background size */
}

.box {
  background-color: var(--emerald);
}

.header-background {
  background-color: var(--blue-violet);
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  font-size: 24px;
  color: var(--emerald);
}

a {
  color: var(--amber);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin: 20px 0;
}

.quote {
text-align: left; /* Left-align text within the quote box */
  display: inline-block; /* Make the quote box only as wide as its content */
  margin: 20px auto; /* Center the quote box horizontally */
  padding: 10px;
  background-color: var(--seasalt);
  color: var(--davys-gray);
  border: 1px solid var(--davys-gray);
  border-radius: 3px;
  position: relative;
}

.bullet {
  width: 20px; /* Set the width of the bullet image */
  height: 20px; /* Set the height of the bullet image */
  background-image: url('malinois.png'); /* Path to the bullet image */
  background-size: contain; /* Use 'contain' instead of 'cover' to ensure the entire image is visible */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: inline-block; /* display bullet in line while setting the size */
}

/* Fonts and sizes */
strong {
  font-weight: bold;
}

small {
  font-size: 11px;
  color: var(--davys-gray);
  margin-top: -0.6em;
  display: block;
}

.comment {
  display: inline; /* display bullet in line while setting the size */
}
